---
apiVersion: sriovnetwork.openshift.io/v1
kind: SriovNetworkPoolConfig
metadata:
  name: sriovnetworkpoolconfig-offload-32vf
  namespace: openshift-sriov-network-operator
spec:
  ovsHardwareOffloadConfig:
    name: ${MCP}
